</body>
<footer class="page-footer font-small blue fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
           Lendfoundry
        </div>
        <!-- Copyright -->
      
      </footer>

</html>