<html>

<head>
	<script src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js" async></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		$(function () {
			$(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
		});
		$(document).ready(function () {
			$("#appnumberform").hide();
			$("#daterangeform").hide();
			$("#daterange").click(function () {
				$("#daterangeform").show();
				$("#appnumberform").hide();
				$('#error').html(" ");
			});
			$("#appnumber").click(function () {
				$("#daterangeform").hide();
				$("#appnumberform").show();
				$('#error').html(" ");
			});

			$("#cibilappnumberform").hide();
			$("#cibildaterangeform").hide();
			$("#cibildaterange").click(function () {
				$("#cibildaterangeform").show();
				$("#cibilappnumberform").hide();
				$('#error').html(" ");
			});
			$("#cibilappnumber").click(function () {
				$("#cibildaterangeform").hide();
				$("#cibilappnumberform").show();
				$('#error').html(" ");
			});
		});		
	</script>
	<title>
		<%= title %>
	</title>
</head>

<body>
	<div class="center-box bg-dark style-scope login-layout">
		<div class="center-box style-scope login-layout"> <img class="mr-3" src="http://demo.lendfoundry.com:9003/images/lendfoundry_logo300x62.png">
		</div>
	</div>

	<div class="navbar navbar-expand-md navbar-dark bg-dark">

		<a class="nav-link" href="/">Perfios Extraction Utility</a>
		<a class="nav-link" href="/report">Cibil Extraction Utility</a>


	</div>
	<h3>
		<%= title %>
	</h3>