<%- include layouts/header.ejs %>

<div>
  <button class="btn btn-success btn-md btn3d " id="cibildaterange">Date Range</button>
  OR <button class="btn btn-success btn-md btn3d" id="cibilappnumber">Application Number</button>


  <div><br></div>
  <div></div>
  <div style="color:red" name="error" id="error">
    <%= error %>
  </div>
  <!-- <h1> Cibil</h1> -->

</div>
<div id="cibildaterangeform">
  <form action="/report" method="post" name="form1">
    <table width="25%" border="0">
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="form-group">From Date:</td>
        <td> <input type="text" class="datepicker form-control" name="cibilfromdate" id="cibilfromdate" required></td>
      </tr>
      <tr>
        <td class="form-group"> To Date:</td>
        <td> <input type="text" class="datepicker form-control" name="cibiltodate" id="cibiltodate" required></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button type="submit" class="btn btn-success btn-md btn3d" name="Submit" id="cibilSubmit" value="/cibilreport" />Cibil-Download</td>
      </tr>
    </table>
  </form>
</div>
<div id="cibilappnumberform">
  <form action="/report" method="post" name="form1">
    <table width="25%" border="0">
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="form-group">App# No:</td>
        <td> <input type="text" class="form-control" name="entityId" id="entityId" required></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit" class="btn btn-success btn-md btn3d" name="Submit" id="cibilSubmit" value="/cibilreport" />Cibil-Download</td>
      </tr>
    </table>
  </form>
</div>
</body>

<%- include layouts/footer.ejs %>