<%- include layouts/header.ejs %>

<div>
  <button class="btn btn-success btn-md btn3d " id="daterange">Date Range</button>
  OR <button class="btn btn-success btn-md btn3d" id="appnumber">Application Number</button>


  <div><br></div>
  <div></div>
  <div style="color:red" name="error" id="error">
    <%= error %>
  </div>

</div>
<div id="daterangeform">
  <form action="/" method="post" name="form1">
    <table width="25%" border="0">
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="form-group">From Date:</td>
        <td> <input type="text" class="datepicker form-control" name="fromdate" id="fromdate" required></td>
      </tr>
      <tr>
        <td class="form-group"> To Date:</td>
        <td> <input type="text" class="datepicker form-control" name="todate" id="todate" required></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button type="submit" class="btn btn-success btn-md btn3d" name="Submit" value="/" />Perfios-Download</td>
      </tr>
    </table>
  </form>
</div>
<div id="appnumberform">
  <form action="/" method="post" name="form1">
    <table width="25%" border="0">
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="form-group">App# No:</td>
        <td> <input type="text" class="form-control" name="entityId" id="entityId" required></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit" class="btn btn-success btn-md btn3d" name="Submit" value="service-ce-utility-ce-utility" />Perfios-Download</td>
      </tr>
    </table>
  </form>
</div>
</body>

<%- include layouts/footer.ejs %>